body{
	background-color: #f2f2f2;
}
 .name{
 	font-size: 1.25em;


 }

.name,
.main-nav li{
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	list-style-type: none;
}


.name a,
.main-nav a{
  padding: 10px 15px;
  display:block; 
  color: black;
  text-decoration: none;
  }
  

  .main-nav a{
  	font-size: .95em;
  	text-transform: uppercase;
  	margin-right: 35px;
  }
  .main-nav a:hover{
  	color: red;
  }

body{
	text-align: center;

}

p{
	font-family: sans-serif;
	line-height: 1.6em;
	color: #737373 ;
}

.contact-info{
	font-family: sans-serif;
	line-height: 1.6em;
	color: #737373 ;
}

.contact-info li{
	margin-right: 40px;
}

.main-pic{
	margin: auto;
	height: auto;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;


}



.marketing{
	margin: auto;
	height: auto;
	width: 100%;
	padding-top: 15px;
		padding-bottom: 15px;
}

.search-page{
	margin: auto;
	height: auto;
	width: 100%;
	padding-top: 15px;
		padding-bottom: 15px;
}

.travel-app{
	margin: auto;
	height: auto;
	width: 100%;
	padding-top: 15px;
		padding-bottom: 15px;
}

.map{
	margin: auto;
height: auto;
	width: 100%;
	padding-top: 15px;
		padding-bottom: 15px;
}

.photo-gallery{
	margin: auto;
	height: auto;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.calculator-image{
	margin: auto;
	height: auto;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

li{
	list-style-type: none;
}


#mobile-footer li{
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	list-style-type: none;
	margin-right: 10px;
}



#mobile-footer a{
  padding: 10px 15px;
  display:block; 
  color: black;
  text-decoration: none;
  }
  

  #mobile-footer a{
  	font-size: .95em;
  	text-transform: uppercase;
  	margin-right: 35px;
  }
  #mobile-footer a:hover{
  	color: red;
  }



/* ----- Media Queries ------*/


@media (min-width: 768px ){

.main-nav li{
	display: inline-block;
	border-right: 1px solid black;
		}
	
	.name{
		
		font-size: 25px;
		margin-left: 15px;
	}
	
	.main-nav li,
	.name {
			margin-bottom: 40px;
	}
		
		.main-pic{
			clear: both;
			height: 200px;
			width:300px;
			margin-top: 10px;
			margin-left: 15px;
			
		}
		
		.content{
			float: left;
		}
		

		.main-content p{
			font-size: 20px;
			padding-top: 70px;
			float: left;
		}

		.main-content{
		
		 margin-bottom: 50px;
		 border-bottom: 1px solid grey;
		}

		#main-portfolio{
			text-align: center;
		}

		.marketing-content,
		.search-page-content,
		.travel-app-content,
		.maps-content,
		.calculator-cocntent,
		.photo-gallery-ontent {
			width: 45%;
			float: left;
			margin: 20px;
		}
		
		#portfolio{ 
		clear: both;
		 }

		

		.clearfix::after{
			content: "";
			display: table;
			clear: both;
		}

		.main-footer{
			text-align: center;
		}

		.mobile-footer{
			display: none;
		}

			#footer li{
			display: inline;
			background-color:#dddddd;
			padding: 15px;
			margin-right: 17px;
		}

		#footer a{
 			 padding: 10px 15px;
			  color: black;
			  text-decoration: none;
	  }
  

  #footer a{
  	font-size: .95em;
  	text-transform: uppercase;
  }
  #footer a:hover{
  	color: red;
}

#mobile-footer{
	display: none;
}


}





@media (min-width: 1024px ) {

	.main-nav li{
	float: right;
	border-right: 1px solid black;
		}
	
	.name{
		float: left;
		font-size: 25px;
		margin-left: 15px;
	}
	
	.main-nav li,
	.name {
			margin-bottom: 40px;
	}
		
		.main-pic{
			clear: both;
			height: 300px;
			width:400px;
			margin-top: 10px;
			margin-left: 15px;
			
		}

		.content{ 
			float: left;

		 }
		
		

		.main-content p{
			font-size: 20px;
			padding-top: 70px;
			float: left;
		}

		.main-content{
		
		 margin-bottom: 50px;
		 border-bottom: 1px solid grey;
		}

		#main-portfolio{
			text-align: center;
		}

		.content {
			width: 30%;
			float: left;
			margin: 20px;
		}
		
		#portfolio{ 
		clear: both;
		 }

		

		.clearfix::after{
			content: "";
			display: table;
			clear: both;
		}

		.main-footer{
			text-align: center;
		}

		#mobile-footer{
			display: none;
		}

		
		#footer li{
			display: inline;
			background-color:#dddddd;
			padding: 15px;
			margin-right: 17px;
		}

		#footer a{
 			 padding: 10px 15px;
			  color: black;
			  text-decoration: none;
	  }
  

  #footer a{
  	font-size: .95em;
  	text-transform: uppercase;
  }
  #footer a:hover{
  	color: red;
  }

  #mobile-footer{
  	float: left;
  }

	.Back{
		display: none;
	}

}

@media (max-width: 768px ){

	#footer{
		display: none;
	}
}


